files/*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
files/*.[mM][pP]3 filter=lfs diff=lfs merge=lfs -text
gallery/*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
gallery/*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
gallery/thumbsup.* filter=lfs diff=lfs merge=lfs -text
uploads/*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
uploads/*.[mM][pP]3 filter=lfs diff=lfs merge=lfs -text
